# Python
__pycache__/
*.pyc
venv/
.env

# ML Models
*.pkl

# Dataset
*.csv

# Node
node_modules/

# Android / Capacitor
android/.gradle/
android/build/

# Mac
.DS_Store

src/firebaseConfig.js

sensor-app/src/firebaseConfig.js